[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".vim/bundle/vim-plug"]
	path = .vim/bundle/vim-plug
	url = https://github.com/junegunn/vim-plug.git
